{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="dashboard">
        <h1> Tous mes articles</h1>

        <h1> Tous mes commentaires</h1>
    </div>

{% endblock %}