<div class="title-section">
    <div class="name-head">
        <h1>- Aline Denizot -</h1>
        <div class="about-me" id="link">
        </div>
    </div>

    <div class="menu">
        <nav>
            <ul>
                <a href=#><li>A propos</li></a>
                <a href=#><li>Quelques mots</li></a>
                <a href=#><li>Mes projets</li></a>
                <a href=#><li>Me contacter</li></a>
            </ul>
        </nav>
    </div>
</div>