<div class="title-section">
    <div class="name-head">
        <h1>- Aline Denizot -</h1>
        <div class="about-me" id="link">
        </div>
    </div>

    <div id="nav-wrapper">

        <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
        <label for="menu-checkbox" class="menu-toggle">≡ Menu</label>

        <div class="menu">
            <nav>
                <ul>
                    <li>
                        <a href="{{ path('home')}}">
                            A propos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Quelques mots
                        </a>
                    </li>
                        <a href="#">
                            Mes projets
                        </a>
                    </li>
                        <a href="#">
                            Me contacter
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>