{% extends 'base.html.twig' %}

{% block body %}
    <div class="about-section">
        <div class="contain-about-section">
            <h1>A propos</h1>
            <!--Télécharger mon CV-->
        </div>
    </div>
{% endblock %}